.button {
  -fx-padding: 8 8 8 8;
  -fx-background-radius: 8;
  -fx-background-color: #36b5f5,
    radial-gradient(center 50% 50%, radius 100%, #36b5f5, #2889b9);
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
  -fx-font-weight: bold;
  -fx-text-fill: white;
  -fx-font-size: 1.1em;
}
